<div class="user-details">
  <h1>Recent Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="atlas screenshot" src="{{ "/assets/img/atlas-screenshot.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Atlas</h3>
    <p>3D world encyclopedia built using React, Flask, TypeDB that draws data from various open data sources such as the CIA Factbook and UN open datasets</p>
    <a class="project-link" href="https://atlas.imaginatrix.xyz">Check it out</a>
  </div>
</div>
{% comment %} <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>ResEdu</h3>
    <p>Compiled and curated index of resources for educators and students</p>
    <a class="project-link" href="#">Check it out</a>
  </div> {% endcomment %}
</div>
